/* Nav.css */

.navbar {
  position: relative;
  z-index: 1000; /* Ensure the navbar appears on top of other content */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1890ff;
}
.nav-content{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar-brand img {
  max-height: 50px; /* Adjust the maximum height of the logo */
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.navbar-toggler:focus {
  outline: none;
}

/* Override Ant Design Menu styles */
.ant-menu-horizontal {
  border: none; /* Remove border from the menu */
  background: transparent; /* Set the background to transparent */
}

.ant-menu-horizontal .ant-menu-item {
  margin: 0; /* Remove default margin */
}

.ant-menu-horizontal .ant-menu-item a {
  color: inherit; /* Inherit the color from parent */
  text-decoration: none; /* Remove underline from links */
}

.ant-menu-horizontal .ant-menu-item a:hover {
  color: #1890ff; /* Change color on hover if needed */
}
.cart-icon-section{
  align-items: flex-start;
  display: flex;
  margin-left: 15px;
  margin-right: 40px;
}
/* User info section */
.user-info {
  display: flex;
  align-items: center;
}

.auth, .user-info {
  margin-right: 0; /* Adjust margin between auth links */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
  gap: 20px;
}

.profile-icon {
  margin-right: 8px; /* Adjust margin between icon and email */
}

.nav-logout {
  margin-left: 8px; /* Adjust margin between email and logout link */
}
