
/* Profile.css */

.profile-container {
  padding: 20px;
}

.profile-title {
  margin-bottom: 20px;
}

.account-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .account-center {
    flex-direction: row;
    justify-content: space-between;
  }
}
